* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(204, 238, 245);
    color: rgba(101, 153, 101, 0.877);
}

h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    font-family: monospace;
    letter-spacing: 3px;
}

.wrapper {
    width: 700px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.pt-1, .pt-2 {
    flex: 1;
}

.pt-2 {
    background-color: rgb(103, 112, 151);
    padding: 15px;
    border-radius: 5px;
}

input {
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: rgba(101, 153, 101, 0.877);;
    text-align: right;
    font-weight: 600;
    border-radius: 5px;
}

.first-input {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.grid div {
    background-color: rgb(103, 112, 151);
    color: white;
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.input-wrapper {
    position: relative;
}

.input-wrapper img {
    height: 14px;
    position: absolute;
    top: 23px;
    left: 10px;
}

.input-wrapper img.second {
    height: 38px;
    left: 0;
    top: 14px;
}

.white {
    color: white;
}

.small {
    color: rgb(221, 219, 219);
    font-size: 12px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.big-num {
    font-size: 25px;
    font-weight: 600;
    color: rgb(62, 228, 228);
}

.pt-2 button {
    display: block;
    width: 100%;
    background-color: rgb(62, 228, 228);
    border: none;
    border-radius: 5px;
    color:  rgb(22, 90, 90);
    font-weight: 600;
    padding: 7px;
    cursor: pointer;
}

.btn1 {
    margin-top: 80px;
    margin-bottom: 10px;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grey {
    background-color: grey !important;
}